

.file-input-hidden{
	visibility: hidden;
	position:absolute;
	top:0;
	right:0;
	margin: 0;
	opacity:0;
	filter:alpha(opacity=0);
	width: .1px;
	height: .1px;
	z-index: -1;

}

.file-input-filearea{
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 50%;
	padding-left: 5px;
	line-height: 1em;
}




.file-uploader-filelist{
	padding-top:10px;
	display: block;
	width: 100%;
}

.file-uploader-filelist .file{
	width: 100%;
	position: relative;
	margin-bottom:10px;
}

.file-uploader-filelist .name{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 50%;
	padding-right: 10px;
}

.file-uploader-filelist .name > a{
	color:red;
	cursor: pointer;
	display:none;
}

.file-uploader-filelist .name > a:hover{
	color:inherit
}

.file-uploader-filelist .size{
	font-weight: bold;
	float: left;
	width: 150px;
	position: absolute;
	right: 50px;
	top: 0;
	text-align: right;
}

.file-uploader-filelist .percent{
	color: gray;
	font-weight: bold;
	width: 46px;
	position: absolute;
	right: 0px;
	top: 0;
	text-align: right;
}
.file-uploader-filelist .progress{
	height:5px;
	margin-bottom:0;
	position:
	absolute; width:100%
}

.file-uploader-filelist .error{
	color:red;
	position: absolute;
	left: 50%;
	top: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 50%;
}





